
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  color: white;
}

h1 {
  margin-bottom: 25px;
  font-weight: 500;
}


.form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 200px;
  outline: none;
}

.form button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  transform: scale(1.05);
}

.filters {
  margin-bottom: 20px;
}

.filters button {
  margin: 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  color: #333;
  transition: 0.2s;
}

.filters button:hover {
  background: #ddd;
}


.task {
  background: white;
  color: #333;
  margin: 10px 0;
  padding: 15px;
  width: 320px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.task:hover {
  transform: translateY(-3px);
}

/* COMPLETED TASK */
.task.done {
  background: #e6ffe6;
  text-decoration: line-through;
  opacity: 0.7;
}


.task h3 {
  margin: 0;
}

.task input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.task-buttons {
  display: flex;
  gap: 8px;
}

.task button {
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}


.task button:nth-child(1) {
  background: #28a745;
  color: white;
}

.task button:nth-child(2) {
  background: #007bff;
  color: white;
}

.task button:hover {
  opacity: 0.8;
}